@media (orientation: portrait){
    #desktop-nav{
        display: none !important;
    }
    #search span {
        top: 5px !important;
    }
    #perfil h2{
        font-size: 2em !important;  
    }
    #perfil img{
        width: 80% !important;
    }
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}
html, div{display: block;}
main{margin-top: 90px;}
header{
    display: flex;
    position: fixed;
    height: 60px;
    background-color: #2a771b;
    top: 0;
    left: 0;
    width: 100%;
}
nav{
    width: 60%;
}
.warp{
    margin:0;
    max-width: 1280px;
}
.flex-auto{
    flex: auto;
}
.interface-link{
    text-decoration: none;
    color: white;
}
#title{
    margin: 0 0 0 20px;
}
#title a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: -9px;
    letter-spacing: 2px;
}
#title a:hover{
    letter-spacing: 5px;
}
#desktop-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.5em;
    position: relative;
    padding: 0;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
}
#desktop-nav ul li{
    height: 60px;
    width: 100%;
    text-align: center;
}
#desktop-nav ul li a{
    position: relative;
    top: 15px;
}
#desktop-nav ul li:hover, #search:hover{
    background-color: #259e0dcb
}
#search{
    font-size: 1.8em;
    position: relative;
    margin:0;
    text-align: center;
    padding-top: 0.95%;
    display: block;
    width: 10%;
}
#search span{
    position: relative;
    top: -10%;
}
#perfil{
    margin: 0 0 0 2% ;
    display: flex;
    height: 12rem;
    width: 90%;
}
#perfil img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100%;
}
#perfil div{
    margin-left: 20px;
}
#perfil h2{
    font-size: 3em;
    margin-bottom: 0;
    padding: 0;
}
#perfil p{
    width: 100%;
}